<div class="jumbotron">
    <h1>Anger API</h1>
    <p class="lead">Reserved By Anger Limited. Our dream will come true soon.</p>
    <p><a href="http://mokkachun.com/app/" class="btn btn-primary btn-lg">Download The App &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Anger Website</h2>
        <p>Under Construction...</p>
        <p><a class="btn btn-default" href="">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Anger App Download Link</h2>
        <p>Under Construction...</p>
        <p><a class="btn btn-default" href="">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Anger Admin Portal</h2>
        <p>Only Upload Post Available Now</p>
        <p><a class="btn btn-default" href="/adminportal">Go &raquo;</a></p>
    </div>
</div>
